/* .cont_fon{
	margin-top: 35%;
}
main .inn1 .inner1 {
  width: 80%;
  border: 1px solid red;
  float: none;
}
main .inn1 .inner2 {
  width: 80%;
  border: 1px solid red;
  float: none;
}
main .inn2 .inner3 {
  width: 80%;
  border: 1px solid red;
  float: none;
}
main .inn2 .inner4{
  width: 80%;
  border: 1px solid red;
  float: none;
} */